body{
    background-color: aqua;
}

.mainContainer{
    margin: auto;
}

.formContainer{
    width: 40%;
    background-color: #663399;
    border-radius: 40px;
    margin: auto;
    margin-top: 15%;
    padding: 20px;
}

.inputContainer{
    margin: auto;
}

.tablePrintout{
    overflow: auto;
}

.tablePrintout tbody{
    overflow-y: auto;
    overflow-x: hidden;
}