body{
    background: url("../background.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mainContainer{
    margin: auto;
}

.mainContainer h2{
    color: white;
}

.formContainer{
    width: 40%;
    background-color: #663399;
    border-radius: 40px;
    margin: auto;
    margin-top: 15%;
    padding: 20px;
}

.inputContainer{
    margin: auto;
}

.tablePrintout{
    overflow: auto;
}

.tablePrintout tbody{
    overflow-y: auto;
    overflow-x: hidden;
}